services:
  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}   # Replace with your secure password
      MYSQL_DATABASE: ${DATABASE_NAME}    # Optional: Creates a database on container startup
      MYSQL_USER:  ${DATABASE_USERNAME}                   # Optional: Creates a user and grants all privileges on MYSQL_DATABASE
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}      # Required if MYSQL_USER is set
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}  # Maps port 3306 of the container to port 3306 on the host
    volumes:
      - stakely-consolideth-api_db_data:/var/lib/mysql  # Persists database data between container restarts
    restart: always  # Ensures the container restarts automatically if it stops or the Docker daemon is restarted

  stakely-consolideth-api-nestjs:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${APP_PORT}:${APP_PORT}
    links:
      - mysql
volumes:
  stakely-consolideth-api_db_data:
